@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: hsl(217, 54%, 11%);
  font-family: 'Outfit', sans-serif;
}

section.container{
  background-color: hsl(216, 50%, 16%);
  border-radius: 1rem;
  margin: 1.5rem;
  padding: 1.5rem;
}


.equi img{
  max-width: 100%;
  border-radius: 1rem;
}

.equi .main-image{
    position: relative;
}

.equi .main-image div{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  background-color: hsl(178, 100%, 50%, 60%);
  width: 100%;
  height: calc(100% - 4px);
  z-index: 999;
  border-radius: 0.625rem;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

.equi .main-image div:hover{
  opacity: 1;
  
}

.equi h1{
  margin-top: 1.5rem;
  width: 100%;
  color: #fff;
}

.equi h1:hover{
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.equi p {
  margin-top: 1rem;
  color: hsl(215, 51%, 70%);
}

figure{
  display: flex;
  align-items: center;

}

.icons{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid hsl(215, 32%, 27%);
}


figure.eth figcaption{
  color:hsl(178, 100%, 50%);
  margin-left: 0.5rem;
}

figure.clock figcaption{
  color:hsl(215, 51%, 70%);
  margin-left: 0.5rem;
}

div.avatar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
}



div.avatar p{
  margin-left: 1rem;
  color: hsl(215, 51%, 70%);
}

div.avatar p span{
  color: #fff;
}

div.avatar p span:hover{
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

div.avatar img{
  width: 30px;
  border: 1px solid #fff;
  border-radius: 1rem;
}

.attribution{
  text-align: center;
  color: #fff;
  margin-top: 4rem;
}



@media (min-width:500px){
  body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;

  }
  section.container{
    width: 350px;
    margin: 0 auto 1rem;
  }

  
  

}